:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(44, 16, 207, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.image{
  max-width: 300px;
  width: 100%;
}

.rating span {
  color: gold;
}

img.large{
  max-width: 90%;
}

img.thumbnail{
  height: 80px;
}

.small-container{
  max-width: 600px;
}

.checkout-steps >div {
  border-bottom:0.2rem solid #a0a0a0;
  color: #a0a0a0;
}
.checkout-steps >div.active {
  border-bottom:0.2rem solid #f08000;
  color: #f08000;
}