:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(44, 16, 207, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.image{
  max-width: 300px;
  width: 100%;
}

.rating span {
  color: gold;
}

img.large{
  max-width: 90%;
}

img.thumbnail{
  height: 80px;
}

.small-container{
  max-width: 600px;
}

.checkout-steps >div {
  border-bottom:0.2rem solid #a0a0a0;
  color: #a0a0a0;
}
.checkout-steps >div.active {
  border-bottom:0.2rem solid #f08000;
  color: #f08000;
}

.dropdown-menu[data-bs-popper]{
  left: auto;
  right: 1px;
}

/* header */

.navbar-brand{
  font-weight: bold;
  font-size: 1.8rem;
}

a.header-link,
.header-link > a {
  border:1px rgb(33, 37 , 41) solid;
  border-radius:2px;
  color: white !important;
  font-weight: bold;
}

a.header-link:hover,
.header-link > a:hover{
  color: violet;
  border: 1px white solid;
}

.header .dropdown-menu,
.header .dropdown-item{
  color: black !important;
  background-color: white;
}

.header .dropdown-item a:hover{
  border: 1px rgb(33,37,41) solid;
}

.sub-header{
  background-color: #232f3e;
}

.cart-badge{
position:absolute;
color: #ff8902;
font-weight: bold;
margin-left: 16px;
margin-top: -3px;
}

@media (max-width: 575px) {
  .navbar-collapse {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background: rgba(0, 0, 0, 0.889);
    z-index: 1000;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
  }

  .navbar-collapse.show {
    opacity: 1;
    visibility: visible;
    overflow: visible;
  }
}